.table {
  min-width: 700px;
}

.paper {
  background-color: whitesmoke;
  border-radius: 15px;
  max-width: 1000px;
  margin: 40px auto;
  padding: 20px;
  margin-bottom: 60px;
}

.total {
  display: flex;
  justify-content: flex-start;
}

.count {
  width: 35px;
  border: none;
  outline: none;
  background: none;
}

.tableCell {
  font-size: 18px !important;
}

.cartImages {
  border-radius: 8px !important;
}

.home {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.home:hover {
  opacity: 0.8 !important;
}

.favoriteIcon {
  width: 30px !important;
  height: 30px !important;
}
