#GameBoard {
  position: relative;
  margin: 0 auto;
  border-style: solid;
  height: 233px !important;
}

.body {
  overflow-y: hidden;
}

#GameBoard .Block {
  position: absolute;
}

#GameBoard #GameOver {
  text-align: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
}

#GameBoard #Score {
  position: relative;
  top: 105%;
  text-align: center;
  font-weight: bold;
}

#GameBoard #GameOverText {
  color: #ca0000;
  font-weight: bold;
  text-decoration-line: underline;
}

#GameBoard #PressSpaceText {
  color: #2e7ecb;
  font-weight: bold;
}
